# OpenSky Network API
# Get your API credentials from: https://opensky-network.org
OPENSKY_API_URL=https://opensky-network.org/api
OPENSKY_USERNAME=Govind
OPENSKY_PASSWORD=Govind123

# Aviationstack API
# Get your API key from: https://aviationstack.com
AVIATIONSTACK_API_URL=http://api.aviationstack.com/v1
AVIATIONSTACK_API_KEY=e5b43f0afd1977f0a82d38f2000dd7a3